.hadiya__img{
    background-image: url('../assets/images//hadiya.jpg');
    background-size: cover;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px; */
}
.orphan__img{
    background-image: url('../assets/images//orphanage.jpg');
    background-size: cover;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px; */
}
.zahra__img{
    background-image: url('../assets/images//preschool.jpg');
    background-size: cover;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px; */
}