.hadiya__img{
    /* background-image: url('../assets/images/hadiya.jpg'); */
    background-size: cover;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px; */
}
.orphan__img{
    /* background-image: url('../assets/images/orphanage.jpg'); */
    background-size: cover;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px; */
}
.zahra__img{
    background-image: url('../assets/images/zahra/zahra-5.jpeg');
    background-size: cover;
    background-position: center;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px; */
}
.care__img{
    background-image: url('../assets/images/care.jpg');
    background-size: cover;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px; */
}

.madrassa__img{
    background-image: url('../assets/images/madrasa.jpg');
    background-size: cover;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px; */
}
.school__img{
    background-image: url('../assets/images/school/slide.JPG');
    background-size: cover;
 
}

.event5__img{
    background-image: url('../assets/images/events/dest-ing/2.jpg');
    background-size: cover;
    background-position: center;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px; */
}
.event2__img{
    background-image: url('../assets/images/events/jalaliyya/1.jpeg');
    background-size: cover;
    background-position: center;
  
}
.event3__img{
    background-image: url('../assets/images/events/jalaliyya/1.jpeg');
    background-size: cover;
    background-position: center;
  
}
.event6__img{
    background-image: url('../assets/images/events/zahra/7.jpg');
    background-size: cover;
    background-position: center;
}
.event4__img{
    background-image: url('../assets/images/events/schoolAlumni/7.jpeg');
    background-size: cover;
    background-position: center;
}
.event7__img{
    background-image: url('../assets/images/events/seminar/6.jpg');
    background-size: cover;
    background-position: center;
}
.event1__img{
    background-image: url('../assets/images/events/18th/15.jpg');
    background-size: cover;
    background-position: center;
    
}
.event8__img{
    background-image: url('../assets/images/events/silver/1.jpeg');
    background-size: cover;
    background-position: center;
    
}
.page__banner{
    font-family: 'Nunito', sans-serif;

}